*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #034f84;
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    margin-bottom: 5px;
    border-top: 4px solid #A4C639;
    border-bottom: 4px solid green;
    font-size: 18px;
    cursor: pointer;
}

li:hover{
    border-top: 4px solid green;
    background-color: green;
}

.container{
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside{
    padding: 50px 20px;
    flex-shrink: 0;
    width: 250px;
    background-color: #A4C639;
    overflow: auto;
}

section{
    padding: 50px 20px;
    flex-grow: 1;
    overflow-y: auto;
}

article{
    margin-bottom: 40px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #2980b9;
}

.box-example{
    margin: 10px auto;
    border: 2px dashed black;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    /* display: flex; */
    background-color: #fff;
}

.item{
    margin: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
    font-size: 40px;
}

.box-code{
    margin: 10px auto;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #292F33;
}

#mainAxis{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainAxis div{
    border: 2px dashed black;
    padding: 2px;
    background-color: #e74c3c;
    display: flex;
    justify-content: space-between;
}


#crossAxis{
    display: flex;
    justify-content: center;
}

#crossAxis div{
    border: 2px dashed black;
    padding: 2px;
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.displayFlex{
    display: flex;
    border: 1px solid black;
    margin: 5px;
}


.displayInlineFlex{
    display: inline-flex;
    border: 1px solid black;
    margin: 5px;
}